*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article{
    padding: 10px;
}

form{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    
}


